@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
   --breakpoint-3xl: 1600px;
   --breakpoint-4xl: 1920px;
   --breakpoint-5xl: 2560px;
}

@layer base {
   * {
      margin: 0;
      padding: 0;
      font-family: "Montserrat", sans-serif;
      color: #fff;
   }
}

:root {
   --bg-color: #080909;
   --bg-trans-color: rgba(255, 255, 255, 0.03);
   --bg-trans-hover-color: rgba(255, 255, 255, 0.05);
   --accent-color: #e5a839;
   --second-color: #c7c7c7;
   --stroke-color: #2e2b25;
   --stroke-active-color: #403e3b;
   --right-color: #61d381;
   --bad-color: #e25757;
   --components-gap: 24px;
   --components-py: 16px;
   --components-px: 24px;
}

body {
   background-color: var(--bg-color);
   max-width: 100dvw;
}

.ibm-plex-sans {
   font-family: "IBM Plex Sans", sans-serif;
}

.montserrat {
   font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1600px) {
   :root {
      --components-gap: 20px;
      --components-py: 18px;
      --components-px: 20px;
   }
}
@media screen and (max-width: 1280px) {
   :root {
      --components-gap: 16px;
      --components-py: 16px;
      --components-px: 18px;
   }
}

* {
   scrollbar-width: thin;
   scrollbar-color: var(--stroke-active-color) transparent;
}

*::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}

*::-webkit-scrollbar-track {
   background: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--stroke-active-color);
   border-radius: 999px;
   border: 2px solid transparent;
   background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
   background-color: var(--accent-color);
}

*::-webkit-scrollbar-corner {
   background: transparent;
}

.scrollbar-hidden {
   scrollbar-width: none;
   -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
   display: none;
}
